@import "./_variables.scss";

h3,
ul,
li {
  margin: 0;
}

h4,
h3 {
  margin: 0;
}

.flex-row {
  display: flex;
}
.flex-col {
  display: flex;
  flex-direction: column;
}
.flex-center {
  justify-content: center;
  align-items: center;
}

// CTA Common CSS
button,
.btn {
  outline: none;
  border: none;
}

.btn {
  margin-right: 20px;
  padding: 4px 10px;
  border-radius: 4px;
  cursor: pointer;
  border: 1px solid $DBlue;

  &__primary {
    color: $White;
    background: $DBlue;
  }

  &__secondary {
    color: $DBlue;
    background: $White;
  }

  &:active,
  &:hover {
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
  }
}

// Form Control across App
form {
  .error-msg {
    font-size: 12px;
    color: $Red;
    margin-bottom: 5px;
  }
}
.formControl {
  display: flex;
  flex-direction: column;
  margin-bottom: 18px;

  label {
    line-height: 24px;
  }

  input,
  textarea {
    line-height: 24px;
    outline: none;
  }
}
