@import "../../commonStyles/_variables.scss";

.container {
  width: 250px;
  max-width: 80%;
  margin: 50px auto;

  .formControl {
    display: flex;
    flex-direction: column;
    margin-bottom: 18px;

    label {
      line-height: 24px;
    }

    input {
      line-height: 24px;
      outline: none;
    }
  }

  .formActions {
    button {
      margin-right: 20px;
      padding: 4px 10px;
      background: $DBlue;
      color: $White;
      border-radius: 4px;
      cursor: pointer;

      &:active,
      &:hover {
        box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
      }
    }
  }
}
