@import "../../commonStyles/_variables.scss";

.container {
  padding: 8px 12px;
  margin: 5px 0;
  border: 1px solid $DBlue;
  display: flex;
  justify-content: space-between;
  align-items: center;

  h4,
  h3 {
    margin: 0;
  }

  h3 {
    color: $DBlue;
  }

  h4 {
    color: $DGrey;
  }
}
