@import "../../commonStyles/_variables.scss";

.container {
  padding: 8px 12px;
  margin: 5px 0;
  border: 1px solid $DBlue;
  display: flex;
  justify-content: space-between;
  align-items: center;

  .content {
    h3 {
      color: $DBlue;
    }

    h4 {
      color: $DGrey;
    }
  }

  .viewDetails {
    > div {
      font-size: 18px;
      font-weight: 600;
      color: $DBlue;
      margin-bottom: 15px;
    }
  }
}
