@import "../../commonStyles/_variables.scss";

.container {
  padding: 0 20px;

  .createEventCtaContainer {
    width: 250px;
    border: 1px solid $DBlue;
    margin: 30px auto;
    padding: 30px 100px;
    text-align: center;
  }

  ul {
    list-style: none;
    width: 100%;
    padding: 0;

    li {
      padding: 8px 12px;
      margin: 5px 0;
      border: 1px solid $DBlue;
    }
  }
}
